th {
    vertical-align: middle;
}

.table__heads {
    text-align: center;
}

.table__head-center{
    text-align: start;
}

.coin__image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}